// Place all the styles related to the TacoSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tacos-container, .sauces-container {
	.title {
		margin-bottom: 10px;
		font-size: 20px;
	}
	.tacos-section, .sauces-section {
		margin: 10px 0px;
	}
}

.sauces-container input.search {
	margin-top: 15px;
}
